// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

 body {
   font-family: "Avenir", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
 }

@media screen and (min-device-width : 568px) {

  .logo-image {
    width: 200px;
  }

  .tagline {
    margin-top: 1em;
  }

  .introduction {
    margin-top: 1em;
    font-size: 1.2em;
  }

  input[type=text] {
    padding: 1em;
    font-size: 2em;
  }

  .button {
    font-family: "Avenir", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    font-weight: 800;
    width: 100%;
    font-size: 1.5em;
    margin-top: 0.5em;
  }

  select {
    font-size: 1.1em;
    padding: 0.8em;
  }

  body {
    // background-color: #3498db;
  }

  #main-content {
    padding-left: 1em;
    // background-color: #2980b9;
  }

  #heading {
    margin-top: 1em;
    padding-left: 1em;

    .button {
       font-family: "Avenir", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
       font-weight: 800;
       width: 200px;
       font-size: 1em;
       margin-top: 0.5em;
       padding: 0.8em;
     }
  }

  .form-label {
    font-size: 1.5em;
  }

  footer {
    padding-left: 1em;
  }
}

@media screen and (max-device-width : 568px) {
  .logo-image {
    width: 80%;
  }

  #heading {
    .right {
      float: none;
      text-align: center;
    }
  }
}
